<md-data-table-container>
    <table md-data-table md-row-select="selected">
        <thead md-order="id">
        <tr>
            <th name="New search"></th>
            <th name="Search date" order-by="date"></th>
            <th name="File name" order-by="fileName"></th>
            <th name="Identifier" order-by="identifier"></th>
            <th name="Description" order-by="description"></th>
            <th name="Organism" order-by="organism"></th>
            <th name="Regular expression" order-by="regex"></th>
            <th name="PROSITE" order-by="prosite"></th>
        </tr>
        </thead>
        <tbody>
        <tr md-auto-select
            ng-repeat="searchRequest in searchRequests">
            <td>
                <md-button ng-href="#/search/{{searchRequest.id}}" class="md-fab md-mini" aria-label="Search">
                    <i class="fa fa-search"></i>
                </md-button>
            </td>
            <td>{{searchRequest.date | date:'dd-MM-yyyy HH:mm'}}</td>
            <td>{{searchRequest.fileName}}</td>
            <td>{{searchRequest.identifier}}</td>
            <td>{{searchRequest.description}}</td>
            <td>{{searchRequest.organism}}</td>
            <td>{{searchRequest.regex}}</td>
            <td>{{searchRequest.prosite}}</td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>