<md-card class="login-container">
    <md-card-content>
        <form>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label for="username">Username</label>
                    <input id="username" name="username" ng-model="user.username">
                </md-input-container>
            </div>

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" ng-model="user.password">
                </md-input-container>
            </div>

            <div layout="row" layout-align="end">
                <md-button ng-click="login()" class="md-raised">
                    Submit
                </md-button>
            </div>
        </form>
    </md-card-content>
</md-card>