<md-card class="account-container">
    <md-card-content>
        <form>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label for="name">First name</label>
                    <input id="name" ng-model="user.name" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label for="surname">Last Name</label>
                    <input id="surname" ng-model="user.surname" required>
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label for="username">Username</label>
                <input id="username" ng-model="user.username" required ng-minlength="3" ng-maxlength="15">
            </md-input-container>

            <md-input-container class="md-block">
                <label for="email">E-mail</label>
                <input id="email" ng-pattern="/^.+@.+\..+$/" ng-model="user.email">
            </md-input-container>

            <md-input-container class="md-block">
                <label for="password">Password</label>
                <input type="password" ng-minlength="8" ng-maxlength="15" id="password"  ng-model="user.password">
            </md-input-container>

            <md-input-container class="md-block">
                <label for="rep-password">Password</label>
                <input type="password" id="rep-password" ng-model="user.password">
            </md-input-container>

            <div layout="row" layout-align="end">
                <md-button ng-click="submitUser()" class="md-raised">
                    Submit
                </md-button>
            </div>
        </form>
    </md-card-content>
</md-card>