<!--Sequence query-->

<div layout="row" layout-wrap>

    <!--Search request form-->

    <div flex="70">
        <md-card>
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h2>
                        <i class="fa fa-flask"></i>
                        New FASTA search
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card-content>

                <form name="searchForm">
                    <input id="file" type="file" file-model="fastaFile">

                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Find ID</label>
                            <input ng-model="searchRequest.identifier">
                        </md-input-container>
                        <md-button class="md-fab md-accent md-mini">
                            <md-tooltip md-direction="left">
                                Filter the sequences by the identifiers present in the FASTA header<br/>
                                Regular expressions are supported, case-sensitive
                            </md-tooltip>
                            <i class="fa fa-info"></i>
                        </md-button>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Find organism</label>
                            <input ng-model="searchRequest.organism">
                        </md-input-container>
                        <md-button class="md-fab md-accent md-mini">
                            <md-tooltip md-direction="left">
                                Filter the sequences by organism name<br/>
                                Case-sensitive, regular expressions are supported
                            </md-tooltip>
                            <i class="fa fa-info"></i>
                        </md-button>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Find description</label>
                            <input ng-model="searchRequest.description">
                        </md-input-container>
                        <md-button class="md-fab md-accent md-mini">
                            <md-tooltip md-direction="left">
                                Filter the sequences by the description in the FASTA header<br/>
                                Case-sensitive, regular expressions are supported
                            </md-tooltip>
                            <i class="fa fa-info"></i>
                        </md-button>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Search sequence by regular expression</label>
                            <input ng-model="searchRequest.regex">
                        </md-input-container>
                        <md-button class="md-fab md-accent md-mini">
                            <md-tooltip md-direction="left">
                                Search the actual biological sequence<br/>
                                Use a regular expression pattern<br/>
                                (e.g.: H.H.H[VI])
                            </md-tooltip>
                            <i class="fa fa-info"></i>
                        </md-button>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Search sequence by PRO-SITE pattern</label>
                            <input ng-model="searchRequest.prosite">
                        </md-input-container>
                        <md-button class="md-fab md-accent md-mini">
                            <md-tooltip md-direction="left">
                                Search the actual biological sequence<br/>
                                Use a regular PROSITE pattern<br/>
                                (e.g.: H-x-H-x-H-[VI])
                            </md-tooltip>
                            <i class="fa fa-info"></i>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="end">
                        <md-button ng-disabled="!fastaFile" ng-click="submit()"
                                   class="md-raised">
                            <div layout="row" layout-align="center">
                                Search
                                <md-progress-circular md-mode="indeterminate" md-diameter="35px"
                                                      ng-show="loading">
                                </md-progress-circular>
                            </div>
                        </md-button>
                    </div>
                </form>

            </md-card-content>
        </md-card>
    </div>

    <!--Search request table-->

    <div flex="30">
        <md-card>

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <i class="fa fa-search"></i>
                        Recent searches
                    </h2>
                </div>
            </md-toolbar>

            <md-list style="padding: 0">
                <div ng-repeat="searchRequest in searchRequests">
                    <md-list-item class="md-3-line" ng-click="getSearchRequest(searchRequest.id)">

                        <i class="face fa fa-flask fa-2x" style="margin-right: 15px"></i>

                        <div class="md-list-item-text">
                            <h3>{{searchRequest.date | date:'dd-MM-yyyy HH:mm'}}</h3>
                            <h4>{{'Filename: ' + searchRequest.fileName}}</h4>
                            <p>
                                {{'Search request id: ' + searchRequest.id}}
                            </p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>


        </md-card>
    </div>
</div>

<!--List of sequences-->

<md-data-table-toolbar>
    <h2 class="md-title">Sequences</h2>
</md-data-table-toolbar>

<md-button ng-hide="selected.length < 2" ng-click="" class="md-raised">
    Compare
</md-button>

<md-data-table-container>
    <table md-data-table md-row-select="selected">
        <thead md-order="query.order">
        <tr>
            <th name="External id" order-by="externalId"></th>
            <th name="Description" order-by="description"></th>
            <th name="Organism" order-by="organism"></th>
            <th name="Sequence type" order-by="sequenceType"></th>
            <th name="Sequence" order-by="sequence"></th>
        </tr>
        </thead>
        <tbody>
        <tr md-auto-select
            ng-repeat="sequence in sequences | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
            <td>{{sequence.externalId}}</td>
            <td>{{sequence.description | limitTo: 30}}</td>
            <td>{{sequence.organism}}</td>
            <td>{{sequence.sequenceType}}</td>
            <td>
                <span style="color: blue; cursor: pointer" ng-click="showSequence(sequence)">
                    {{sequence.sequence | limitTo: 10}}...
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page"
                          md-total="{{sequences.length}}"></md-data-table-pagination>
