<!--Modal for sequence objects-->

<md-dialog aria-label="Sequence" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Sequence: {{sequence.externalId}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div ng-bind-html="sequence.sequence | highlight: sequence.searchResults[0].start: sequence.searchResults[0].stop"
                 class="md-dialog-content" style="word-wrap: break-word;">
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="hide()" style="margin-right:20px;">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>