.sidenav {
    background-color: rgb(59, 81, 91);
}

.logo {
    width: 200px;
    -webkit-filter: invert(100%);
}

.logo-wrapper {
    height: 100px;
    margin-top: 30px
}

.logo-header {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 40px;
}

.highlight {
    background: yellow;
}

/* Side menu */

md-sidenav {
    width: 280px;
}

.side-menu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    max-height: 40px;
}

.side-menu, .side-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.side-menu .md-button {
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.site-content-toolbar {
    background: #f6f6f6 !important;
    color: #202020 !important;
    z-index: 3;
    padding: 15px 25px;

    font-size: 24px !important;
    font-weight: 400 !important;
}

/* Log in */
.login-container {
    margin-top: 50px;
    max-width: 500px;
}

.account-container {
    margin-top: 50px;
    max-width: 600px;
}

.docs {
    margin-top: 30px;
    max-width: 700px;
}

/* Multi-line support for tooltips */

md-tooltip .md-background {
    border-radius: inherit;
}

md-tooltip .md-content {
    height: auto;
    width: 500px;
    max-width: 500px;
    padding: 8px;
    white-space: initial;
}

@media screen and (min-width: 600px) {
    md-tooltip .md-content {
        font-size: 14px;
        height: auto;
        width: 300px;
        padding: 8px;
        max-width: 300px;
    }
}