<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="sequenceQuery" ng-controller="NavigationController"
      class="ng-cloak">
<head>
    <meta charset="UTF-8"/>
    <title>Sequence Query - {{title}}</title>

    <link th:href="@{/webjars/angular-material/1.0.1/angular-material.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet">

    <link th:href="@{/css/md-data-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

</head>
<body class="ng-cloak">

<div layout="column" style="height:100%" ng-cloak>
    <section layout="row" flex>

        <!--Side menu-->

        <md-sidenav class="md-whiteframe-z2 sidenav" md-is-locked-open="$mdMedia('gt-md')">

            <div class="logo-wrapper">
                <img th:src="@{/images/icons/dna.png}" class="logo"/>
            </div>

            <h1 class="logo-header">
                Seq-Query
                <i class="fa fa-search"></i>
            </h1>

            <!--Login menu-->

            <div layout="row" layout-align="center center">
                <md-menu>
                    <md-button aria-label="Login menu" class="md-fab"
                               ng-click="$mdOpenMenu($event)">
                        <i md-menu-origin class="fa fa-user fa-2x"></i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-hide="user.authenticated">
                            <md-button ng-href="#/login">
                                Login
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-hide="user.authenticated">
                            <md-button ng-href="#/new-account">
                                New account
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="user.authenticated">
                            <md-button ng-controller="LoginController" ng-click="logout()">
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <!--Main navigatiom-->

            <ul class="side-menu">
                <li ng-repeat="item in menuItems">
                    <md-button aria-label="{{item.name}}" ng-bind="item.name" ng-href="{{item.url}}" layout="row">
                    </md-button>
                </li>
            </ul>

        </md-sidenav>

        <!--Content-->

        <div layout="column" flex>

            <!--Navigation bar-->

            <md-toolbar ng-bind="title" class="md-whiteframe-1dp site-content-toolbar">
            </md-toolbar>

            <!--Content view-->

            <md-content flex layout-padding>
                <div ng-view></div>
            </md-content>
        </div>

    </section>
</div>

<script th:src="@{/webjars/angularjs/1.4.7/angular.min.js}"></script>
<script th:src="@{/webjars/angularjs/1.4.7/angular-animate.min.js}"></script>
<script th:src="@{/webjars/angularjs/1.4.7/angular-aria.min.js}"></script>
<script th:src="@{/webjars/angularjs/1.4.7/angular-route.min.js}"></script>
<script th:src="@{/webjars/angular-material/1.0.1/angular-material.min.js}"></script>
<script th:src="@{/js/sequence-query.js}"></script>
<script th:src="@{/js/filters/highlight.js}"></script>
<script th:src="@{/js/service/searchService.js}"></script>
<script th:src="@{/js/service/alert.js}"></script>
<script th:src="@{/js/service/authentication.js}"></script>
<script th:src="@{/js/service/siteContent.js}"></script>
<script th:src="@{/js/controller/NavigationController.js}"></script>
<script th:src="@{/js/controller/DocsController.js}"></script>
<script th:src="@{/js/controller/LoginController.js}"></script>
<script th:src="@{/js/controller/AccountController.js}"></script>
<script th:src="@{/js/controller/SearchController.js}"></script>
<script th:src="@{/js/lib/md-data-table.min.js}"></script>

</body>
</html>